body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

.content-wrapper {
    display: flex;
}

.content-wrapper .airport-menu {
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.content-wrapper .svg-wrapper {
    flex-grow: 1;
}

.airport-menu .airport-search {
    width: 100%;
    box-sizing: border-box;
}

.airport-menu .airport-list {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.airport-menu .airport-list li {
    list-style: none;
    padding: 2px 0;
    cursor: pointer;
}

.airport-menu .airport-list li:hover {
    text-decoration: underline;
}

.airport-info {
    display: none;
}

.airport-info .name {
    vertical-align: middle;
}

.airport-info .btn-close-detail {
    vertical-align: middle;
}


.tooltip {
    text-align: center;
    pointer-events: none;
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    width: 34px;
    height: 18px;
}

path.map {
    stroke: #fff;
    stroke-width: 1px;
    fill: #d5d5d5;
}

circle {
    fill: rgb(217, 91, 67);
    fill-opacity: 0.3;
    stroke: black;
    stroke-opacity: 0.8;
    stroke-width: 1;
    cursor: pointer;
}


circle.highlight  {
    fill: rgb(243, 238, 10);
    fill-opacity: 1;
}

circle.selected {
    fill: rgb(243, 238, 10)!important;
}

path.flight {
    stroke-width: 1px;
    /*stroke: rgb(189, 34, 255);*/
    stroke: black;
    fill: none;
    stroke-opacity: 0.05;
}

path.flight.highlight {
    stroke: rgb(243, 238, 10);
    stroke-opacity: 1;
}

path.flight.selected {
    stroke: black;
    stroke-opacity: 0.3;
}

.filters > div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#filter-size-slider {
    position: relative;
    width: 350px;
    height: 30px;
    margin: 0 20px;
}

.filter-size-min {
    margin-left: 10px;
    min-width: 30px;
    text-align: right;
}

.filter-size-max {
    margin-right: 10px;
    min-width: 30px;
}
